header
	position: relative
	min-height: 100vh

.header_inner
	position: relative
	height: 90vh
	background: url(../img/header-bg.png) no-repeat center center
	background-size: cover

.header_inner:after
	content: ''
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(0, 0, 0, 0.6)
	z-index: 1

.header_inner_content
	position: relative
	height: 100%
	width: 100%
	z-index: 2

.header_menu
	padding-top: 2.5rem

.label-sm
	position: relative
	font-size: 9px
	font-family: Montserrat-Regular
	font-weight: 500
	line-height: 11px
	color: #fff

.social-label:before
	content: ''
	position: absolute
	width: 8px
	height: 8px
	margin-left: -18px
	background: $orange
	border-radius: 50%
	filter: blur(1px)

.header_slider_wrapper
	position: relative
	top: 20vh
	z-index: 3
	color: #fff
	display: flex
	flex-direction: row
	justify-content: flex-end

.header_slider__item
	p
		font-size: 23px
		padding-top: 30px

.header_slider
	padding-right: 30px
	width: 950px
	.slick-dots
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
		list-style: none
		.dot
			border-radius: 50%
			background-color: transparent
			border: 1px $orange solid
			width: 16px
			height: 16px
			transform: scale(0.5)

		.slick-active
			.dot
				background-color: $orange
	.slick-dots:before
		content: ''
		position: absolute
		background-color: $orange
		height: 62px
		width: 2px
		top: 0
		margin-top: -79px
		right: 8px
	.slick-dots:after
		content: ''
		position: absolute
		background-color: $orange
		height: 62px
		width: 2px
		bottom: 0
		right: 8px
		margin-bottom: -79px

.header_callback
	background-color: #fff
	width: 100%
	min-height: 174px
	z-index: 3
	position: absolute
	bottom: -62px
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.58)
	border-radius: 20px
	display: flex
	align-items: center
	padding: 24px 50px

.callback__left, .callback__right, .callback__right>form
	position: relative
	display: flex
	flex-direction: column

.callback__left
	h4, h6
		line-height: 1.5em
		font-weight: 600

.callback_form
	height: 100%
	justify-content: space-between
	align-items: flex-end
	input
		width: 150px
		border: 0

.callback_form__tel:before
	content: ''
	position: absolute
	top: 0
	left: -10px
	width: 20px
	height: 20px
	background-image: url(../images/icons/ru-flag.svg)
